html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
    margin: 0; padding: 0;
}
body {
    position: relative;
}
.top {
    background-color:#ffe4c4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
    background: url(../img/LOGO/logo.png)no-repeat;
    height: 170px;
    width: 170px;
}
.option {
    background-color: #000;
    display: flex;
    overflow-x: auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 200px;
}
span {
    flex-shrink: 0;
    margin-left: 80px;
}
.option a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.option a:hover {
    background-color: red;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 250px; 
}

.ltop, .left, .lbot, .mtop, .mid, .mbot, 
.rtop, .right, .rbot {
     width: 300px;
     height: 250px;
     margin: 30px;
     background-color: #ffe4c4;
}
.rbot {
    margin-bottom: 100px;
}
.ltopu {
    background: url(../img/個人餐/吮指雙雞重量級XL套餐-190118.jpg)no-repeat;
}
.leftu {
    background: url(../img/個人餐/咔啦雞腿堡重量級XL套餐-190118.jpg)no-repeat;
}
.lbotu {
    background: url(../img/個人餐/川麻雞絲咔啦雞腿堡XL套餐-200918.jpg)no-repeat;
}
.mtopu {
    background: url(../img/個人餐/椒香麻辣脆雞-重量級XL套餐-200723.jpg)no-repeat;
}
.midu {
    background: url(../img/個人餐/紐奧良烤雞腿堡重量級XL套餐-190118.jpg)no-repeat;
}
.mbotu {
    background: url(../img/個人餐/美式BBQ醬烤煙燻雞重量級XL套餐.jpg)no-repeat;
}
.rtopu {
    background: url(../img/個人餐/花生培根XL-200723.jpg)no-repeat;
}
.rightu {
    background: url(../img/個人餐/花生熔岩XL-200304.jpg)no-repeat;
}
.rbotu {
    background: url(../img/個人餐/蔥油脆雞飯捲XL餐-200820.jpg)no-repeat;
}
.all {
    background-size: 100% 100%;
    height: 160px;
}
@media(max-width:500px){
    .all {
        background-size: 100% 100%;
        height: 132px;
        width: 227px;
    }
    .ltop, .left, .lbot, .mtop, .mid, .mbot, 
    .rtop, .right, .rbot {
        width: 227px;
        height: 220px;
        margin: 30px;
        background-color: #ffe4c4;
    }
    .rbot {
        margin-bottom: 100px;
    }
}
p {
    text-align: center;
}
.foot {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footimg{
     background: url(../img/foot/foot.jpg);
     height: 100px;
}