html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
    margin: 0; padding: 0;
}
body {
    position: relative;
}
#topall {
    width: 100%;
    height: 235px;
}
.top {
    background-color:#ffe4c4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
    background: url(../img/LOGO/logo.png)no-repeat;
    height: 170px;
    width: 170px;
}
.option {
    background-color: #000;
    display: flex;
    overflow-x: auto;
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
}
span {
    flex-shrink: 0;
    margin-left: 80px;
}
.option a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.option a:hover {
    background-color: red;
}
.title {
    font-size: 24px;
    height: 140px;
    width: 80px;
    background-color: orange;
    border: 1px solid red;
    position: fixed;    
    right: 0px;
}
.title a {
    text-decoration: none;
    font-weight: bold;
}

.app {
    font-size: 36px;
    color: red;
}
.app li {
    font-size: 24px;
    color: #000;
    margin: 10px;
}
#count {
    margin: 10px;
    width: 80px;
    height: 50px;
}
.footop {
    margin-bottom: 200px;
}
.foot {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footimg{
     background: url(../img/foot/foot.jpg);
     height: 100px;
}